.delete_container{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: .2rem;
    background-color: black;

    border:none;
}

.delete_container p{
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    font-size: large;
    color:rgb(255, 0, 0)
}

