html,
body,

body {
  font-family: openSans;
  margin: 0px;
  background-color: rgb(253, 253, 253);
}


/*-------------------------------------------------------------------------------- 
font family  
--------------------------------------------------------------------------------*/
@font-face {
  font-family: openSans;
  src: url('../../../public/media/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face{
  font-family: openSansLight;
  src: url('../../../public/media/Open_Sans/static/OpenSans/OpenSans-Light.ttf');
}

@font-face {
  font-family: openSansSemiBold;
  src: url('../../../public/media/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: openSansBold;
  src: url('../../../public/media/Open_Sans/static/OpenSans/OpenSans-Bold.ttf');
}






/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}



/* ------- container -------- */

.page_container{

  gap:.5rem;
}
.login_container, .login_container_all, .page_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_container_all{
  gap:2rem;
}

.login_logo_image{
  margin-top: 2.5rem;
}





