.topContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 3.5rem;;
  top:0;
  padding-top: .5rem;

  transition: background-color ease .2s;

}
.bottomContainer {
  position: fixed;
  display:flex;
  justify-content: flex-end;
  bottom: 0;
  right:0;

}

.container{
    width: 100vw;
    position: relative;
    margin-top: 1.5rem;
    padding-bottom: 3rem;
    z-index: 5;
}


.user{
    margin-top:0rem;
    margin-right: 1.8rem;
}

.textContainer{
  width:15rem;
}
.textContainer p{
  padding-bottom: 10px;
}

.hideMenu{
  display: none;
}