.topContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;

  
}
.bottomContainer {
  position: fixed;
  display:flex;
  justify-content: flex-end;
  bottom: 0;
  width: 100vw;
}

.container{
    height: 100%;
    width: 100vw;
    position: absolute;
    margin-top: 1rem;
    top:0;
}


.user{
    margin-top:0rem;
    margin-right: 1.8rem;
}

.textContainer{
  width:15rem;
}
.textContainer p{
  padding-bottom: 10px;
}