.main {
    display: flex;
    align-items: center;
    width: 100vw;
    overflow: scroll;
    margin-left: 2.3rem;

    padding: 1rem;

    gap: 1rem;
    
  }
.main::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
/* add plant */

.create_button_container{
    margin-top: 0rem;
    margin-bottom: 3.5rem;
    margin-left: 1rem;
    margin-right: 2rem;;

    padding:.5rem;
}

.create_button_container button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 3rem;
    width: 3rem;
    border-radius: 100%;

    border:none;
}