.main {
    display: flex;
    align-items: center;
    width: 100vw;
    overflow: scroll;
    margin-left: 2.3rem;

    padding: 1rem;

    gap: 1rem;
    
  }

  .main::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.filler{
  width:10rem;
  height: 1rem;
  color:transparent
}