.plant_container{
    height: 120vh;
    margin-bottom: 4rem;
}
.input_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.name, .name_input{
    width: 20rem;
}

.name{
    font-size: 14px;
}
.name_input{
    border:none;
    border-bottom: solid 1px black;

    width: 20rem;

    font-family: openSansLight;
    font-size: 25px;
}

.name_input:focus{
    outline: none;

}

.label_text, .label_text_color{
    font-family: openSansLight;
    font-size: 20px;
}

.createButton{
    height: 3rem;
    width: 6rem;
    border: none;
    font-family: openSansLight;
    font-size: 15px;

}

.button_div{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name_input_color_container{
    width: 20rem;
    display: flex;
    justify-content: center;
}
.name_title_color{
    width:20rem;
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}