.container{
    display: flex;
    height: 3rem;
    gap: 1rem;

    align-items: center;
}

.colorBlock{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3px
}

/* .colorOne{
    background-color: rgb(220,140,140);
} */

.colorTwo{
    background-color: rgb(140,220,140);
}

.colorThree{
    background-color: rgb(140,140,220);
}

.colorFour{
    background-color: rgb(245,245,245);
}
.clicked{
    border: solid 2px rgb(200,200,200);
    border-radius: 100%;
}

.colorOne{
    background-color: rgb(220,140,140);
    height: 3rem;
    width: 3rem;
    border-radius: 100%;

}