.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100vw;
}

.modal_title{
    margin-left: 2rem;
    font-family: openSansLight;
    font-size: 21px;
    margin-bottom:.5rem;
}