.backdrop_container, .backdrop_container_color{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;



    z-index: -100;
    transition: background-color ease .3s;
}

.color{
    background-color: rgb(100,100,100,.7)
}